@import "./../font/font";

@borderColor: #595757;
@wordColor: #4C4948;

//template
.container {
  .header {
    height: 100px;
    .logoContainer {
      max-width: 1013px;
      margin: 0 auto;
      padding-top: 22px;
      .logoImg {
        width: 130px;
        height: auto;
      }
      .sloganContainer {
        display: inline-block;
        border-left: 1px solid @borderColor;
        color: #595757;
        margin-left: 10px;
        padding-left: 10px;
        > p {
          &:first-child {
            letter-spacing: 4px;
          }
        }
      }
    }
  }
  .navigation {
    height: 40px;
    background-color: #363533;
    .navInnerContainer {
      max-width: 1013px;
      height: 100%;
      margin: 0 auto;
      .navItem {
        float: left;
        width: 14%;
        transition: all 0.3s;
        &.active {
          background-color: #D63136;
        }
        a {
          color: white;
          font-size: 15px;
          font-weight: bold;
          letter-spacing: 3px;
          display: inline-block;
          line-height: 40px;
          text-align: center;
          height: 100%;
          width: 100%;
        }
        &:hover {
          background-color: #D63136;
        }

      }
    }
  }
  .footer {
    border-top: 1px solid @borderColor;
    padding-bottom: 40px;
    .footCon {
      max-width: 1013px;
      height: 100px;
      margin: 0 auto;
      padding-top: 20px;
      .footLink {
        color: @wordColor;
        font-size: 14px;
        .footLinkTag {
          text-decoration: none;
          cursor: pointer;
          cursor: hand;
          color: @wordColor;
          line-height: 28px;
        }
        > p {
          line-height: 28px;
          > span {
            margin-right: 10px;
            a {
              color: @wordColor;
            }
          }
        }
      }
      .busIcon {
        cursor: pointer;
        cursor: hand;
        text-align: right;
        a {
          > img {
            width: 50px;
            height: auto;
          }
        }
      }
    }
  }
}

//内容框
.contentContainer {
  max-width: 1013px;
  margin: 0 auto;
  padding: 40px 0;
  //首页的内容框
  .productsLinkCon {
    .productsLinkItem {
      position: relative;
      > a {
        display: block;
        width: 85%;
        height: 70px;
        border: 1px solid @borderColor;
        &.second {
          margin: 0 auto;
        }
        &.last {
          position: absolute;
          right: 0;
        }
        .productsLinkContent {
          height: 100%;
          .productLeft {
            height: 100%;
            padding-left: 35px;
            > div {
              display: table-cell;
              text-align: center;
              vertical-align: middle;
              width: 50px;
              height: 70px;
              > img {
                max-width: 50px;
              }
            }
          }
          .productRight {
            height: 100%;
            display: table;
            > div {
              display: table-cell;
              vertical-align: middle;
              color: @wordColor;
            }
          }
        }
      }
    }
  }
  //首页底部模块
  .categoryContainer{
    margin-top: 50px;
    .category{
      .title{
        color: @wordColor;

      }
    }
  }

}

//home
.homeContainer {
  .productsLinkCon {

  }

}

/* For banner */
.ant-carousel .slick-slide {
  text-align: center;
  height: auto;
  overflow: hidden;
  > img {
    width: 100%;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: italic;
  font: 400 14px/1.5 HelveticaLight, "Helvetica Neue", "Heiti SC", "Microsoft Yahei", tahoma, arial, sans-serif;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  &:focus {
    text-decoration: none;
  }
}

//函数
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

